@page
@model CatecVisitas.Pages.Visitantes.CreateModel
@using Microsoft.Extensions.Options;
@using CatecVisitas.Models;
@inject IOptions<AppSettings> Settings
@{
    ViewData["Title"] = "Alta";
    string query = Request.QueryString.ToString();
    string[] queryPart = query.Split('=', '&');
    var IDVisita = "";
    IDVisita = queryPart[1];
    var usuario = @User.Identity.Name;
    var nombre = usuario.Split('\\');
    var users = @Settings.Value.Users;
    var authorized = false;
    var aceptoTratamientoDatos = false;
    var aceptoConfidencialidad = false;
}

<br />
<br />
<br />


@foreach (var item in users)
{
    if (usuario.Equals(item))
    {
        authorized = true;
        break;
    }

}

@if (authorized)
{
    <h2>
        <img src="~/images/icons8-nombre-80.png" /> &nbsp; Nuevo Visitante / New visitor
    </h2>



    <hr />
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Person.Nombre" class="control-label">Nombre / Name:</label>
                    <input asp-for="Person.Nombre" class="form-control" />
                    <span asp-validation-for="Person.Nombre" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.Apellidos" class="control-label">Apellidos / Surname:</label>
                    <input asp-for="Person.Apellidos" class="form-control" />
                    <span asp-validation-for="Person.Apellidos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Person.DNI" class="control-label">DNI / ID / PASSPORT NUMBER:</label>
                    <input asp-for="Person.DNI" class="form-control" />
                    <span asp-validation-for="Person.DNI" class="text-danger"></span>
                    @if (Model.validationError)
                    {
                        <label class="text-danger"> El DNI ya existe en la base de datos</label>

                    }

                </div>
                <div class="form-group">
                    <label asp-for="Person.Empresa" class="control-label">Empresa / Company:</label>
                    <input asp-for="Person.Empresa" class="form-control" />
                    <span asp-validation-for="Person.Empresa" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label asp-for="Person.FechaAlta" class="control-label"></label>
                        <input asp-for="Person.FechaAlta" class="form-control"  readonly="readonly" />
                        <span asp-validation-for="Person.FechaAlta" class="text-danger"></span>
                    </div>*@
                @*<div class="form-group">
                        <input type="hidden" asp-for="EnlaceVisitaPersona.PersonaID" />
                        <input   type="hidden"  asp-for="EnlaceVisitaPersona.VisitaID" />
                    </div>*@



                <div class="form-group">
                    <input type="submit" id="buttonID" value="Enviar/Submit" class="btn btn-primary" disabled />
                </div>
            </form>
        </div>
    </div>
    <br />
    <div class="text-info">
        Debes leer y aceptar los t&eacuterminos; para completar el alta / You must read and accept the terms to complete the registration
    </div>
    <div class="form-check">
        <input type="checkbox" class="big-checkbox" id="chkPassport">
        <a href="#consentimiento" data-toggle="modal" data-target="#consentimiento">
            CONSENTIMIENTO PARA EL TRATAMIENTO DE DATOS PERSONALES / CONSENT FOR PROCESSING PERSONAL DATA
        </a>
        <br />
        <input type="checkbox" class="big-checkbox" id="chkPassport2">
        <a href="#confidencialidad" data-toggle="modal" data-target="#confidencialidad">
            VISITOR CONFIDENTIALITY AGREEMENT/ VISITOR CONFIDENTIALITY AGREEMENT
        </a>
    </div>

}
<br />
<br />

<div>
    <a asp-page="Index" asp-route-idVisita="@IDVisita">@*Volver a la lista*@ <img src="~/images/back.png" /> Volver a la Lista</a>
</div>



@section Scripts
    {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $('#myModal').on('show.bs.modal', function (e) {
            //alert('hola');
        });
    </script>
    <script>
        $('document').ready(function () {

            var popOverSettings = {
                placement: 'top',
                selector: '.icon',
                //title: 'EDITAR',
                trigger: "hover",
                content: function () { return $(this).data('txt'); }
            };
            $(this).popover(popOverSettings);
        });
    </script>
    <script type="text/javascript">
        $(".big-checkbox").on("click", function () {
            if ($(".big-checkbox:checked").length > 1) {
                $('#buttonID').prop('disabled', false);
            }
            else {
                $('#buttonID').prop('disabled', true);
            }
        });
    </script>
}

<div class="modal fade" id="consentimiento" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"><b>CONSENTIMIENTO PARA EL TRATAMIENTO DE DATOS PERSONALES</b></h4>
                </div>*@
            <div class="modal-body">

                <input type="hidden" id="bookId" name="bookId" value="" readonly="readonly" />
                <div class="row">
                    <div class="col-sm-12">
                        <h4><b>CONSENTIMIENTO PARA EL TRATAMIENTO DE DATOS PERSONALES</b></h4>
                        <b>Fundaci&oacute;n Andaluza para el Desarrollo Aeroespacial</b> es el Responsable del tratamiento de los datos personales del Usuario y le informa que estos datos ser&aacute;n tratados de conformidad con lo dispuesto en el Reglamento (UE) 2016/679 de 27 de abril de 2016 (GDPR), por lo que se le facilita la siguiente informaci&oacute;n del tratamiento:
                        <br />
                        <br />
                        <b>Fin del tratamiento: </b>mantener una relaci&oacute;n comercial y  el env&iacute;o de comunicaciones sobre nuestros productos y servicios.
                        <br />
                        <br />
                        <b>Criterios de conservaci&oacute;n de los datos:</b> se conservar&aacute;n mientras exista un inter&eacute;s mutuo para mantener el fin del tratamiento y cuando ya no sea necesario para tal fin,se suprimir&aacute;n con medidas de seguridad adecuadas para garantizar la seudonimizaci&oacute;n de los datos o la destrucci&oacute;n total de los mismos.
                        <br />
                        <br />
                        <b>Comunicaci&oacute;n de los datos:</b> No se comunicar&aacute;n los datos a terceros, salvo obligaci&oacute;n legal.
                        <br />
                        <br />
                        <b>Derechos que asisten al Usuario:</b>

                        <ul>
                            <li>
                                Derecho a retirar el consentimiento en cualquier momento.
                            </li>
                            <li>
                                Derecho de acceso, rectificaci&oacute;n, portabilidad y supresi&oacute;n de sus datos y a la limitaci&oacute;n u oposici&oacute;n al su tratamiento.
                            </li>
                            <li>
                                Derecho a presentar una reclamaci&oacute;n ante la Autoridad de control (agpd.es) si considera que el tratamiento no se ajusta a la normativa vigente.
                            </li>
                        </ul>

                        <b>Datos de contacto para ejercer sus derechos:</b> <br />
                        Direcci&oacute;n postal: Fundaci&oacute;n Andaluza para el Desarrollo Aeroespacial. Parq. Tecnol&oacute;gico Aeron&aacute;utico de Andaluc&iacute;a. Calle Wilbur y Orville Wright, 19 41309 La Rinconada (SEVILLA). Email: info&#64;catec.aero
                        <br />
                        <br />
                        <hr />
                        <h4> <b>CONSENT FOR PROCESSING PERSONAL DATA</b></h4>
                        <b>Andalusian Foundation for Aerospace Development</b> is the Controller for processing the User&apos;s personal data and informs them that this data will be processed in accordance with the provisions of Regulation (EU) 2016/679 of 27 April 2016 (GDPR), and therefore the following processing information is provided:
                        <br />
                        <br />
                        <b>Purpose of processing:</b> maintain a commercial relationship and send communications about our products and services.
                        <br />
                        <br />
                        <b>Data retention criteria:</b> data shall be retained while there is a mutual interest in maintaining the purpose of processing and when such purpose is no longer necessary, the data shall be deleted with the appropriate security measures to ensure the pseudonymisation or the complete destruction of them.
                        <br />
                        <br />
                        <b>Data communication:</b> The data will not be disclosed to third parties, unless legally obliged to do so.
                        <br />
                        <br />
                        <b>Rights of the User:</b>

                        <ul>
                            <li>
                                Right to withdraw consent at any time.
                            </li>
                            <li>
                                Right of access, rectification, portability and erasure of data and the limitation or opposition to their processing.
                            </li>
                            <li>
                                If you consider that the data processing does not comply with current legislation, you are entitled to file a complaint with the supervisory authority at www.agpd.es.
                            </li>
                        </ul>


                        <b>Contact information to exercise your rights:</b>
                        <br />
                        Postal address: Andalusian Foundation for Aerospace Development. Parq. Tecnol&oacute;gico Aeron&aacute;utico de Andaluc&iacute;a. C/ Wilbur y Orville Wright, 19 41309 La Rinconada (SEVILLA). Email: info@catec.aero
                    </div>
                    <br />

                </div>
            </div>

            @*<button class="btn-link" type="submit" style="height:auto">
                    <span class="glyphicon glyphicon-ok-circle"></span>
                </button>*@

            @*<a asp-page="../Visitantes/Index" asp-route-idVisita="@Model.Visitita"> <span class="glyphicon glyphicon-remove-circle" style="font-stretch:extra-expanded"></span></a>*@


            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="confidencialidad" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            @*<div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel"><b>CONSENTIMIENTO PARA EL TRATAMIENTO DE DATOS PERSONALES</b></h4>
                </div>*@
            <div class="modal-body">

                <input type="hidden" id="bookId" name="bookId" value="" readonly="readonly" />
                <div class="row">
                    <div class="col-sm-12">
                        <h4><b>ACUERDO DE CONFIDENCIALIDAD DEL VISITANTE</b></h4>
                        Acepto y entiendo que las tecnolog&iacute;as y la informaci&oacute;n exhibidas en las instalaciones de Fundaci&oacute;n Andaluza para el Desarrollo Aeroespacial son confidenciales. Para poder acceder a las instalaciones de Fundaci&oacute;n Andaluza para el Desarrollo Aeroespacial, acepto:
                        <ul>
                            <li>
                                1. Que toda la informaci&oacute;n que haya visto, obtenido o mostrado durante mi visita a las instalaciones de Fundaci&oacute;n Andaluza para el Desarrollo Aeroespacial es propiedad de Fundaci&oacute;n Andaluza para el Desarrollo Aeroespacial y es confidencial,
                            </li>
                            <li>
                                2. No utilizar&eacute; dicha informaci&oacute;n confidencial para ning&uacute;n otro prop&oacute;sito que no sea mi visita a las instalaciones de Fundaci&oacute;n Andaluza para el Desarrollo Aeroespacial, y
                            </li>
                            <li>
                                3. No divulgar&eacute; esta informaci&oacute;n confidencial a ninguna otra persona.
                            </li>
                        </ul>
                        Tambi&eacute;n estoy de acuerdo en que no tomar&eacute; fotograf&iacute;as ni har&eacute; grabaciones de audio y / o video durante mi visita.
                        <br />
                        <br />
                        Se entender&aacute; por "informaci&oacute;n confidencial" toda informaci&oacute;n relativa a una persona f&iacute;sica identificada o identificable por la cual pueda determinarse, directa o indirectamente su identidad, sea mediante identificador, nombre, n&uacute;mero, localizaci&oacute;n o elementos propios de la identidad f&iacute;sica, fisiol&oacute;gica, gen&eacute;tica, ps&iacute;quica, econ&oacute;mica, cultural o social de dicha persona.
                        <br />
                        <br />
                        Que Fundaci&oacute;n Andaluza para el Desarrollo Aeroespacial es Responsable del tratamiento de datos personales objetos de este acuerdo conforme lo dispuesto en el Reglamento (UE) 2016/679 de 27 de abril de 2016 (GDPR).
                        <br />
                        <br />
                        En el caso de que la PERSONA VISITANTE tuviese acceso a datos personales de manera accidental o fortuita, se comprometer&aacute; a no revelar, transferir, ceder o de cualquier otra forma comunicar dichos datos, bajo ning&uacute;n concepto o circunstancia, ya sea verbalmente o por escrito, por medios electr&oacute;nicos, papel o mediante acceso inform&aacute;tico, ni siquiera para su conservaci&oacute;n a terceros.
                        <br />
                        <br />
                        La informaci&oacute;n antes referida incluye tambi&eacute;n los secretos comerciales establecidos en la Directiva (UE) 2016/943 de 8 de junio de 2016 relativa a la protecci&oacute;n de los conocimientos t&eacute;cnicos y la informaci&oacute;n empresarial no divulgados contra su obtenci&oacute;n, utilizaci&oacute;n y revelaci&oacute;n il&iacute;citas, abarcando los siguientes tipos de informaci&oacute;n (conste por escrito o no), sin que la presente enumeraci&oacute;n excluya otras clases de informaciones tambi&eacute;n confidenciales: t&eacute;cnicas, programas de formaci&oacute;n, test, investigaci&oacute;n y desarrollo, ideas, invenciones, conceptos, anotaciones, esquemas, diseños, dibujos, organigramas, memor&aacute;ndums, procesos, procedimientos, "know-how", f&oacute;rmulas, datos, programas y aplicaciones inform&aacute;ticas, mejoras, descubrimientos, conocimientos de cualquier clase puestos a disposici&oacute;n de la PERSONA, materiales de referencia, materiales y t&eacute;cnicas de marketing, planes de investigaci&oacute;n y desarrollo, marketing, nuevos productos, nombres de clientes, canales de comercializaci&oacute;n, secretos comerciales y cualquier otra informaci&oacute;n relacionada con clientes y proveedores, listas de precios, pol&iacute;ticas de precios, pol&iacute;tica de ventas, informaci&oacute;n financiera, presupuestos, plantillas y m&eacute;todos de gesti&oacute;n y contabilidad, as&iacute; como los derechos, t&iacute;tulos e intereses que pudiera alegar sobre las invenciones, patentables o no, realizadas u obtenidas por la PERSONA durante la vigencia de su contrato.

                        <hr />
                        <h4> <b>VISITOR CONFIDENTIALITY AGREEMENT</b></h4>
                        I accept and understand that the technologies and information displayed at the facilities of Andalusian Foundation for Aerospace Development are confidential. In order to access the facilities of Andalusian Foundation for Aerospace Development, I accept:
                        <br />
                        <br />
                        <ul>
                            <li>
                                1. That all information that I have seen, obtained or been shown during my visit to the facilities of Andalusian Foundation for Aerospace Development is property of Andalusian Foundation for Aerospace Development and is confidential,
                            </li>
                            <li>
                                2. I will not use such confidential information for any purpose other than my visit to the premises of Andalusian Foundation for Aerospace Development, and
                            </li>
                            <li>
                                3. I will not disclose this confidential information to any other person. I also agree that I will not take photographs or record audios and/or videos during my visit.
                            </li>
                        </ul>
                        "Confidential information" shall mean any information relating to an identified or identifiable natural person which can be used to establish, directly or indirectly, the identity of that person, whether by reference to an identifier, name, number, location or elements of their physical, physiological, genetic, psychological, economic, cultural or social identity.
                        <br />
                        <br />
                        That Andalusian Foundation for Aerospace Development is the Controller responsible for personal data processing, the purpose of this contract in compliance with the provisions of Regulation (EU) 2016/679 of 27 April 2016 (GDPR).
                        <br />
                        <br />
                        In the event that the VISITOR has access to personal data in an accidental or fortuitous manner, the VISITOR undertakes not to disclose, transfer, assign or any other form of communicating such data, under any circumstances, either verbally or in writing, by electronic means, paper or by computer access, not even for the purposes of its retention to third parties.
                        <br />
                        <br />
                        The information referred to above includes as well the trade secrets established in the Directive (EU) 2016/943 of 8 June 2016 on the protection of undisclosed know-how and business information (trade secrets) against their unlawful acquisition, use and disclosure, including the following types of information (whether or not in writing), but not excluding other types of information which are also confidential: techniques, training programmes, testing, research and development, ideas, inventions, concepts, notes, diagrams, designs, drawings, organisation charts, memoranda, processes, procedures, know-how, formulas, data, computer software and applications, improvements, discoveries, knowledge of any kind made available to the PERSON, reference materials, marketing materials and techniques, research and development plans, marketing, new products, customer names, marketing channels, trade secrets and any other information relating to customers and suppliers, price lists, pricing policies, sales policy, financial information, budgets, templates and management and accounting methods, as well as any rights, titles and interests that may be claimed in respect to inventions, whether patentable or not, made or obtained by the USER during the term of the contract.
                        <br />

                    </div>
                    <br />

                </div>
            </div>

            @*<button class="btn-link" type="submit" style="height:auto">
                    <span class="glyphicon glyphicon-ok-circle"></span>
                </button>*@

            @*<a asp-page="../Visitantes/Index" asp-route-idVisita="@Model.Visitita"> <span class="glyphicon glyphicon-remove-circle" style="font-stretch:extra-expanded"></span></a>*@


            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>

        </div>
    </div>
</div>
