@page
@model CatecVisitas.Pages.Visitantes.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<br />
<br />

<h2>Borrar</h2>

<h3>
    <span class="glyphicon glyphicon-alert"> </span>  &nbsp;&iquest;Est&aacute;s seguro de que quieres eliminar el registro?
</h3>
<div>
    <br />
    <h4>Visitante</h4>
    <hr />
    <dl class="dl-horizontal ">
        <dt>
            <h4> @Html.DisplayNameFor(model => model.Person.Nombre) </h4>
        </dt>
        <dd>
            <h4>  @Html.DisplayFor(model => model.Person.Nombre) </h4>
        </dd>
        <dt>
            <h4> @Html.DisplayNameFor(model => model.Person.Apellidos) </h4>
        </dt>
        <dd>
            <h4>  @Html.DisplayFor(model => model.Person.Apellidos) </h4>
        </dd>
        <dt>
            <h4> @Html.DisplayNameFor(model => model.Person.DNI)  </h4>
        </dt>
        <dd>
            <h4>  @Html.DisplayFor(model => model.Person.DNI) </h4>
        </dd>
        <dt>
            <h4>   @Html.DisplayNameFor(model => model.Person.Empresa) </h4>
        </dt>
        <dd>
            <h4>   @Html.DisplayFor(model => model.Person.Empresa) </h4>
        </dd>
        <dt>
            <h4>  @Html.DisplayNameFor(model => model.Person.FechaAlta) </h4>
        </dt>
        <dd>
            <h4>   @Html.DisplayFor(model => model.Person.FechaAlta) </h4>
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Person.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index2">Volver a la lista</a>
    </form>
</div>
