@page
@model CatecVisitas.Pages.Visitantes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Visitante</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.Apellidos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Apellidos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.DNI)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.DNI)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.Empresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Empresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.FechaAlta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.FechaAlta)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person.Id">Edit</a> |
    <a asp-page="./Index">Volver a la lista</a>
</div>
