@page
@model CatecVisitas.Pages.Visitantes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<br />
<br />
<br />

<h2><img src="~/images/icons8-hombre-menú-de-usuario-80.png" /> &nbsp; Detalles de @Model.Person.Nombre &nbsp; @Model.Person.Apellidos</h2>

<div>
 
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person.Nombre)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Nombre)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.Apellidos)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Apellidos)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.DNI)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.DNI)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.Empresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.Empresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Person.FechaAlta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Person.FechaAlta)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Person.Id">Edit</a> |
    <a asp-page="./Index">Volver a la lista</a>
</div>
