@page
@model CatecVisitas.Pages.Visitantes.Index2Model

@{
    ViewData["Title"] = "Listado de Visitantes";
}
<br />
<br />
<br />
<h2><img src="~/images/icons8-hombre-menú-de-usuario-80.png" /> &nbsp;Listado de Visitantes</h2>

<form>
    <p>
        Buscar por DNI o Empresa: &nbsp;
        <input type="text" name="searchString" />
        <input type="submit" value="Buscar" />
    </p>

    @*<a asp-page="./Index2" asp-route-idVisita="@queryStream" asp-route-searchSting=@Model.SearchStream> Buscar</a>*@
</form>
<div class="panel panel-default">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    <h4> @Html.DisplayNameFor(model => model.Person[0].Nombre)</h4>
                </th>
                <th>
                    <h4> @Html.DisplayNameFor(model => model.Person[0].Apellidos)</h4>
                </th>
                <th>
                    <h4> @Html.DisplayNameFor(model => model.Person[0].DNI)</h4>
                </th>
                <th>
                    <h4>@Html.DisplayNameFor(model => model.Person[0].Empresa)</h4>
                </th>
                <th>
                    <h4>Fecha de alta</h4>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Person)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DNI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaAlta)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">@*Editar*@<img src="~/images/editUser.png"  class="icon" rel="popover" data-txt="EDITAR"/></a> |
                        @*<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |*@
                        @*<a asp-page="./Delete" asp-route-id="@item.Id">Borrar</a> |*@
                        <a asp-page="./VisitasPorPersona" asp-route-id="@item.Id"><img src="~/images/seeVisits.png"  class="icon" rel="popover" data-txt="Ver visitas de esta persona"/>@*<spam class="glyphicon glyphicon-eye-open"></spam> Ver Visitas*@</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @section Scripts
        {

        <script>
        $('document').ready(function () {

            var popOverSettings = {
                placement: 'top',
                selector: '.icon',
                //title: 'EDITAR',
                trigger: "hover",
                content: function () { return $(this).data('txt');}
            };
            $(this).popover(popOverSettings);
        });
        </script>
    }



</div>

@{
    var prevDisabled = !Model.Person.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Person.HasNextPage ? "disabled" : "";
}
<a asp-page="./Index2"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.Person.PageIndex - 1)"
   class="btn btn-primary @prevDisabled">
    Anterior
</a>
<a asp-page="./Index2"
   asp-route-searchString="@Model.SearchString"
   asp-route-pageIndex="@(Model.Person.PageIndex + 1)"
   class="btn btn-primary @nextDisabled">
    Siguiente
</a>