@page
@model CatecVisitas.Pages.Visitantes.IndexModel

@{
    ViewData["Title"] = "Listado de visitantes";
    string query = Request.QueryString.ToString();
    string[] queryPart = query.Split('=');
    var queryStream = queryPart[1];
}



<h2>Listado de Visitantes</h2>
<br />


<p>
    <div class="alert alert-info"  >
       <span class="glyphicon glyphicon-comment"></span>   Si el visitante no ha estado antes en Catec tenemos que dar de <a asp-page="Create" asp-route-idVisita="@Model.Visitita"> Alta de Nuevo Visitante</a>
    </div>
</p>

@*<form >
       <p>
          Buscar por DNI o Empresa: <input type="text" name="SearchString"/>
          <input type="submit" value="Buscar" />
       </p>
    </form>*@
<form>
    <br />
    <div class="alert alert-info" style="text-emphasis:inherit">
        <p>
            <span class="glyphicon glyphicon-search"></span> Localizar Persona por DNI o Empresa:  <input type="text" name="SearchString" />
            <input type="hidden" name="idVisita" value="@queryStream" ; />
            <input type="submit" value="Buscar" />
        </p>
        </div>
        @*<a asp-page="./Index2" asp-route-idVisita="@queryStream" asp-route-searchSting=@Model.SearchStream> Buscar</a>*@
</form>
<div class="panel panel-default">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].Apellidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].DNI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].Empresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].FechaAlta)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Person)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DNI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaAlta)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Editar</a> |
                        @*<a asp-page="./Details" asp-route-id="@item.ID">Details</a> |*@
                        <a asp-page="./Delete" asp-route-id="@item.ID">Borrar</a> |
                        <a asp-page="../EnlaceVisitasPersonas/Create" asp-route-id="@item.ID" asp-route-IdVisita="@Model.Visitita"><span class="glyphicon glyphicon-plus-sign"></span> A&ntilde;adir a la Visita</a>
                        @*<a asp-page="./VisitasPorPersona" asp-route-id="@item.ID"> Ver Visitas</a>*@


                    </td>
                </tr>
            }


        </tbody>
    </table>
</div>