@page
@model CatecVisitas.Pages.Visitantes.Index2Model

@{
    ViewData["Title"] = "Index2";
}

<h2>Listado de Visitantes</h2>

<form>
    <p>
        Buscar por DNI o Empresa: <input type="text" name="searchString" />
        <input type="submit" value="Buscar" />
    </p>

    @*<a asp-page="./Index2" asp-route-idVisita="@queryStream" asp-route-searchSting=@Model.SearchStream> Buscar</a>*@
</form>
<div class="panel panel-default">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].Apellidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].DNI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].Empresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].FechaAlta)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Person)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DNI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaAlta)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                        <a asp-page="./VisitasPorPersona" asp-route-id="@item.ID"><spam class="glyphicon-eye-open"></spam> Ver Visitas</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
