@page
@model CatecVisitas.Pages.Visitantes.IndexModel
@using Microsoft.Extensions.Options;
@using CatecVisitas.Models;
@inject IOptions<AppSettings> Settings
@{
    ViewData["Title"] = "Anadir Visitantes";
    var usuario = @User.Identity.Name;
    var nombre = usuario.Split('\\');
    //USUARIOS ADMIN
    var users = @Settings.Value.UsersAdmin;
    //USUARIOS NORMALES
    var users2 = @Settings.Value.Users;
    var authorized = false;
    var authorized2 = false;
    string query = Request.QueryString.ToString();
    string[] queryPart = query.Split('=', '&');
    var queryStream = "";
    if (queryPart.Length <= 2)
    {

        queryStream = queryPart[1];

    }
    if (queryPart.Length > 2)
    {
        queryStream = queryPart[3];

    }
    var Motivo = "";
    var Espacio = " ";
}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<br />
<br />

@foreach (var item in users)
{
    if (usuario.Equals(item))
    {
        authorized = true;
        break;
    }

}
@foreach (var item in users2)
{
    if (usuario.Equals(item))
    {
        authorized2 = true;
        break;
    }

}



@foreach (var item in Model.Visita)
{
    if (item.IdVisita == Convert.ToInt32(queryStream))
    {
        Motivo = item.Motivo;
    }

}

@if (authorized || authorized2)
{
    <h2> <img src="~/images/peoplebig.png" /> &nbsp; A&ntilde;adir Visitantes a Visita: @queryStream <span class="glyphicon glyphicon-chevron-right fa-2x"></span> Motivo: @Motivo </h2>




    <div class="alert alert-info text-info">
        <p>
            <span class="glyphicon glyphicon-comment fa-2x"></span>  &nbsp;  Si el visitante no ha estado antes en Catec / If the visitor has not been to Catec before: <a asp-page="Create" asp-route-idVisita="@Model.Visitita">  <strong style="font-size:large"> <img src="~/images/add.png" />  Nuevo Visitante / New Visitor</strong> </a>
        </p>
    </div>

    <p>
        <h3>
            Integrantes de la visita / Members of the visit:
        </h3>
    </p>
    <div class="panel panel-default">
        <div class="panel-body">
            @foreach (var itemEnlace in Model.EnlaceVisitaPersonaList)
            {
                @if (itemEnlace.VisitaID == Convert.ToInt32(queryStream))
                {
                    @foreach (var itemPersona in Model.PersonaListaFija)
                    {
                        @if (itemPersona.Id == itemEnlace.PersonaID)

                        {
                            <h4> <span class="glyphicon glyphicon-check fa-2x"></span> @Espacio @Html.DisplayFor(modelItem => itemPersona.Nombre) @Espacio @Html.DisplayFor(modelItem => itemPersona.Apellidos)</h4>

                        }

                    }

                }


            }
        </div>
    </div>

    <br />

}




@if (@Model.duplicateITEM)
{

    <label class="text-danger">&nbsp; <span class="glyphicon glyphicon-alert"></span>&nbsp; Esta persona ya existe en la lista...</label>
    <br />
}


    <form>
        @if (authorized || authorized2)
    {
        <div class="alert alert-info text-info">
            <p>
                <span class="glyphicon glyphicon-comment fa-2x"></span>  &nbsp;  Si el visitante ha estado antes en Catec puedes usar el buscador / If the visitor has been in catec before you can use the search engine:
            </p>
        </div>
        <div>
            <p>
                <h4>
                    <span class="glyphicon glyphicon-search"></span> &nbsp;  DNI / ID / PASSPORT:  <input type="text" name="SearchString" />
                    <input type="hidden" name="idVisita" value="@queryStream" />
                    @*<input type="submit" value="Buscar"  />*@
                    <button class="btn btn-primary" type="submit">
                        @*<span class="glyphicon glyphicon-search"></span > &nbsp;*@ Buscar / Find
                    </button>
                </h4>
            </p>
        </div>

        @*<a asp-page="./Index2" asp-route-idVisita="@queryStream" asp-route-searchSting=@Model.SearchStream> Buscar</a>*@
}
    </form>
    <div class="panel panel-default">

        @if (authorized || authorized2)
    {
        <table class="table table-striped">
            @*<thead>*@
            @*<tr>*@
            @*<th>
                <h4>&nbsp;&nbsp;ID </h4>
            </th>*@
            @*<th>*@
            @*<h4> @Html.DisplayNameFor(model => model.Person[0].Nombre)</h4>*@
            @*</th>*@
            @*<th>*@
            @*<h4>@Html.DisplayNameFor(model => model.Person[0].Apellidos)</h4>*@
            @*</th>*@
            @*<th>*@
            @*<h4>@Html.DisplayNameFor(model => model.Person[0].DNI)</h4>*@
            @*</th>*@
            @*<th>*@
            @*<h4>@Html.DisplayNameFor(model => model.Person[0].Empresa)</h4>*@
            @*</th>*@
            @*<th>*@
            @*<div class="text-nowrap"> <h4> Fecha Alta</h4> </div>*@

            @*</th>*@
            @*<th></th>*@
            @*</tr>*@
            @*</thead>*@
            <tbody>
                @if (!Model.duplicateITEM)
            {
                @foreach (var item in Model.Person)
            {
                <tr>
                    @*<td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>*@
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DNI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaAlta)
                    </td>
                    <td width="45" height="45">
                        @*<a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |*@
                        @*<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |*@
                        @*<a asp-page="./Delete" asp-route-id="@item.Id">Borrar</a> |*@
                        @*<a asp-page="../EnlaceVisitasPersonas/Create" asp-route-id="@item.Id" asp-route-IdVisita="@Model.Visitita"><span class="glyphicon glyphicon-plus-sign"></span> A&ntilde;adir a la Visita</a> |*@

                        <a href="#my_modal" data-toggle="modal" data-book-id="@item.Id" data-person-id="@item.Nombre" data-apellidos-id="@item.Apellidos">
                            @*<span class="glyphicon glyphicon-plus-sign"></span>*@ <img src="~/images/add.png" class="icon" rel="popover" data-txt="AGREGAR / ADD" />
                        </a>
                    </td>
                </tr>
        }

        }



            </tbody>
        </table>
}

        @section Scripts
        {
        <script>
            $('#my_modal').on('show.bs.modal', function (e) {
                //alert('hola');
                var bookId = $(e.relatedTarget).data('book-id');
                $(e.currentTarget).find('input[name="bookId"]').val(bookId);
                active = document.getElementById("bookId").value;
                //alert(active);
                var personId = $(e.relatedTarget).data('person-id');
                $(e.currentTarget).find('input[name="personId"]').val(personId);
                active2 = document.getElementById("personId").value;
                //alert(active2);
                var apellidosId = $(e.relatedTarget).data('apellidos-id');
                $(e.currentTarget).find('input[name="apellidosId"]').val(apellidosId);
                active3 = document.getElementById("apellidosId").value;
                //alert(active3);
            });
        </script>
        <script>
            $('document').ready(function () {

                var popOverSettings = {
                    placement: 'top',
                    selector: '.icon',
                    //title: 'EDITAR',
                    trigger: "hover",
                    content: function () { return $(this).data('txt'); }
                };
                $(this).popover(popOverSettings);
            });
        </script>
        }



    </div>

<div class="col-lg-offset-10">
    <div class="btn btn-primary">
        <a href="../Index" style="color:white"><div style="font-weight:200"><img src="~/images/icons-eliminar-30 .png" style="max-height:20px" /> &nbsp;Terminar de a&ntilde;adir / Finish</div></a>
    </div>
</div>

<div class="modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">&iquest; Desea incluir esta persona a la visita @Model.Visitita ?</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    @*<input type="hidden" id="bookId" name="bookId" value="" readonly="readonly" />*@
                    @*<h4>  Visita : @Model.Visitita </h4>*@
                    @* ID:*@  <input type="hidden" id="bookId" name="bookId" value="" readonly="readonly" />
                    <div class="row">
                        <div class="col-sm-4" style="text-align:right">
                            <h4> Nombre:</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <h4> <input type="text" id="personId" name="personId" value="" readonly="readonly" /></h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="text-align:right">
                            <h4> Apellidos:</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <h4> <input type="text" id="apellidosId" name="apellidosId" value="" readonly="readonly" /></h4>
                            </div>
                        </div>
                        <br />
                    </div>

                    @*<button class="btn-link" type="submit" style="height:auto">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>*@

                    @*<a asp-page="../Visitantes/Index" asp-route-idVisita="@Model.Visitita"> <span class="glyphicon glyphicon-remove-circle" style="font-stretch:extra-expanded"></span></a>*@


                    <div class="modal-footer">

                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">A&ntilde;adir</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
