@page
@model CatecVisitas.Pages.Visitantes.IndexModel

@{
    ViewData["Title"] = "Listado de visitantes";
    string query = Request.QueryString.ToString();
    string[] queryPart = query.Split('=','&');
    var queryStream = "";
    if (queryPart.Length <= 2)
    {

        queryStream = queryPart[1];

    }
    if (queryPart.Length > 2)
    {
        queryStream = queryPart[3];

    }
    var Motivo = "";
    //var idPersona = 0;
    //var nombredePersona = "";
    //var active = "";
    //var Prueba = "";
}



<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<br />
<br />
<h2>Listado de Visitantes</h2>




@foreach (var item in Model.Visita)
{
    if (item.IdVisita == Convert.ToInt32(queryStream))
    {
        Motivo = item.Motivo;
    }

}

<h3> Visita: @queryStream | Motivo: @Motivo</h3>

<p>
    <div class="alert alert-info">
        <span class="glyphicon glyphicon-comment"></span>   Si el visitante no ha estado antes en Catec tenemos que dar de <a asp-page="Create" asp-route-idVisita="@Model.Visitita"> Alta de Nuevo Visitante</a>
    </div>
</p>

@*<form >
       <p>
          Buscar por DNI o Empresa: <input type="text" name="SearchString"/>
          <input type="submit" value="Buscar" />
       </p>
    </form>*@
<form>
    <br />
    <div class="alert alert-info" style="text-emphasis:inherit">
        <p>
            <span class="glyphicon glyphicon-search"></span> Localizar Persona por DNI o Empresa:  <input type="text" name="SearchString" />
            <input type="hidden" name="idVisita" value="@queryStream" ; />
            <input type="submit" value="Buscar"/>
        </p>
    </div>
    @*<a asp-page="./Index2" asp-route-idVisita="@queryStream" asp-route-searchSting=@Model.SearchStream> Buscar</a>*@
</form>
<div class="panel panel-default">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].Apellidos)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].DNI)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].Empresa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Person[0].FechaAlta)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Person)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Apellidos)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DNI)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaAlta)
                    </td>
                    <td>
                        @*<a asp-page="./Edit" asp-route-id="@item.Id">Editar</a> |*@
                        @*<a asp-page="./Details" asp-route-id="@item.Id">Details</a> |*@
                        @*<a asp-page="./Delete" asp-route-id="@item.Id">Borrar</a> |*@
                        @*<a asp-page="../EnlaceVisitasPersonas/Create" asp-route-id="@item.Id" asp-route-IdVisita="@Model.Visitita"><span class="glyphicon glyphicon-plus-sign"></span> A&ntilde;adir a la Visita</a> |*@

                        <a href="#my_modal" data-toggle="modal" data-book-id="@item.Id" data-person-id="@item.Nombre" data-apellidos-id="@item.Apellidos">
                            A&ntilde;adir
                        </a>
                    </td>
                </tr>
            }


        </tbody>
    </table>

    @section Scripts
        {

        <script>
            $('#my_modal').on('show.bs.modal', function (e) {
                //alert('hola');
                var bookId = $(e.relatedTarget).data('book-id');
                $(e.currentTarget).find('input[name="bookId"]').val(bookId);
                active = document.getElementById("bookId").value;
                //alert(active);
                var personId = $(e.relatedTarget).data('person-id');
                $(e.currentTarget).find('input[name="personId"]').val(personId);
                active2 = document.getElementById("personId").value;
                //alert(active2);
                var apellidosId = $(e.relatedTarget).data('apellidos-id');
                $(e.currentTarget).find('input[name="apellidosId"]').val(apellidosId);
                active3 = document.getElementById("apellidosId").value;
                //alert(active3);
            });
        </script>
    }



</div>

<div class="row">
    <a href="../Visitas/Index" class="btn btn-info">  Terminar</a>
</div>

<div class="modal fade" id="my_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">&iquest; Desea incluir esta persona a la visita @Model.Visitita ?</h4>
            </div>
            <div class="modal-body">
                <form method="post">
                    @*<input type="hidden" id="bookId" name="bookId" value="" readonly="readonly" />*@
                    @*<h4>  Visita : @Model.Visitita </h4>*@
                    @* ID:*@  <input type="hidden" id="bookId" name="bookId" value="" readonly="readonly" />
                    <div class="row">
                        <div class="col-sm-4" style="text-align:right">
                            <h4> Nombre:</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <h4> <input type="text" id="personId" name="personId" value="" readonly="readonly" /></h4>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4" style="text-align:right">
                            <h4> Apellidos:</h4>
                        </div>
                        <div class="row">
                            <div class="col-lg-2">
                                <h4> <input type="text" id="apellidosId" name="apellidosId" value="" readonly="readonly" /></h4>
                            </div>
                        </div>
                        <br />
                    </div>
                    @*<button class="btn-link" type="submit" style="height:auto">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>*@

                    @*<a asp-page="../Visitantes/Index" asp-route-idVisita="@Model.Visitita"> <span class="glyphicon glyphicon-remove-circle" style="font-stretch:extra-expanded"></span></a>*@

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-info" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-info">A&ntilde;adir</button>
            </div>
            </form>
        </div>
    </div>
</div>