@page
@model CatecVisitas.Pages.Visitantes.VisitasPorPersonaModel

@{
    ViewData["Title"] = "VisitasPorPersona";
    string query = Request.QueryString.ToString();
    string[] queryPart = query.Split('=');
    var queryStream = Convert.ToInt32(queryPart[1]);
    var espacio = " ";
}



<h2>VisitasPorPersona</h2>

<p>
    @*<a asp-page="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Persona[0].Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visita[0].IdVisita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visita[0].FechaVisita)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EnlaceVisitasPersonas)
        {



            @if (@item.PersonaID == queryStream)
            {
                <tr>
                    <td>
                        @foreach (var itemPersona in Model.Persona)
                        {
                            @*@Html.DisplayFor(modelItem => item.IdPerson)*@
                            if (itemPersona.ID == item.PersonaID)
                            {

                                @Html.DisplayFor(modelItem => itemPersona.Nombre)
                                @espacio
                                @Html.DisplayFor(modelItem => itemPersona.Apellidos)
                            }
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VisitaID)
                    </td>
                    <td>
                        @foreach (var itemVisita in Model.Visita)
                        {
                            if (itemVisita.IdVisita == item.VisitaID)
                            {
                                @Html.DisplayFor(modelItem => itemVisita.FechaVisita)
                                @espacio
                                @Html.DisplayFor(modelItem => itemVisita.Hora)

                            }
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
