@page
@model CatecVisitas.Pages.Visitas.DeleteModel
@using Microsoft.Extensions.Options;
@using CatecVisitas.Models;
@inject IOptions<AppSettings> Settings
@{
    ViewData["Title"] = "Borrar Visita";
    var usuario = @User.Identity.Name;
    var nombre = usuario.Split('\\');
    var users = @Settings.Value.Users;
    var authorized = false;
}

@foreach (var item in users)
{
    if (nombre[1].Equals(item))
    {
        authorized = true;
        break;
    }

}

@if (authorized)
{
<br />
<br />
<br />

<h2> <img src="~/images/icons8-basura-80.png" /> &nbsp; Borrar</h2>

<h3>&iquest; Seguro que quieres eliminar el registro?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <h4> ID </h4>
        </dt>
        <dd>
            <h4> @Html.DisplayFor(model => model.Visita.IdVisita)</h4>
        </dd>
        <dt>
            <h4>Fecha</h4>
        </dt>
        <dd>
            <h4> @Html.DisplayFor(model => model.Visita.FechaVisita)</h4>
        </dd>
        <dt>
            <h4> @Html.DisplayNameFor(model => model.Visita.Motivo)</h4>
        </dt>
        <dd>
            <h4> @Html.DisplayFor(model => model.Visita.Motivo)</h4>
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Visita.IdVisita" />
        <input type="submit" value="Borrar" class="btn btn-primary" />

    </form>
    <br />
    <a asp-page="./Index"><img src="~/images/back.png" /> Volver a la Lista</a>

</div>
}