@page
@model CatecVisitas.Pages.EnlaceVisitasPersonas.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<div class="panel panel-default">

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EnlaceVisitaPersona[0].IDEnlace)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnlaceVisitaPersona[0].VisitaID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EnlaceVisitaPersona[0].PersonaID)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.EnlaceVisitaPersona)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IDEnlace)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.VisitaID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PersonaID)
                    </td>
                    <td>
                        @*<a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
